AUTHORIZED_SERVER_TOKEN=changeme
LICENSE_CHECK_URL=https://commercial.grainsense.com/api/v1/runUserLicenceCheck/
SYNC_URL=https://commercial.grainsense.com/api/v1/runSyncScript/
REQUEST_TIMEOUT_SECONDS=120
